$textColor: aliceblue;
$secondaryTextColor: rgb(0, 0, 0);

$blue: rgb(65, 59, 255);
$darkBlue: rgb(27, 24, 119);
$cityBlue: rgb(59, 160, 255);
$yellow: rgb(255, 162, 0);
$red: rgb(255, 59, 59);
$darkRed: rgb(151, 30, 30);